// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');


// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$headers-font1: 'Caveat', 'cursive';
$subheader-font: 'Caveat', 'cursive';


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
.header-font{
  font-family: $headers-font1;
  font-weight: 600;
  font-size: 50px;
  color: rgb(3, 172, 172);
}

.subheader-font{
  font-family: $subheader-font;
  font-weight: 600;
  font-size: 35px;
  color: rgb(3, 172, 172);
}

.font-quote{
  font-weight: 400;
  font-size: 20px;
  color: rgb(3, 172, 172);
}

.form-font{
  color: grey;
}
